<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939597793930-utj89at388b8bvj9umcvb2ai6d34r9uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939597793930-utj89at388b8bvj9umcvb2ai6d34r9uh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>939597793930-kejkjs5hg9hpfe2v4s117l1l6kv4g12q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2kccHX7c7yZM1Zc_dJ4J9bueZvuwJF_o</string>
	<key>GCM_SENDER_ID</key>
	<string>939597793930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hostel</string>
	<key>PROJECT_ID</key>
	<string>hostel-d7218</string>
	<key>STORAGE_BUCKET</key>
	<string>hostel-d7218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939597793930:ios:2218fd29a2f7015735fb73</string>
</dict>
</plist>